let mapleader = " "

" ignore case when searching
set ignorecase

" Normal mode
nmap <leader>w :w<CR>
map <leader>c <action>(CommentByLineComment)
map <leader>/ :action FindInPath<CR>


nnoremap <S-Left> ^
nnoremap <S-Right> $
nnoremap <A-h> :tabprevious<CR>
nnoremap <A-l> :tabnext<CR>

" Insert mode
inoremap jk <Esc>
inoremap <S-Left> <C-o>^
inoremap <S-Right> <C-o>$

" Visual mode
vmap <leader>c :action CommentByLineComment<CR>
vnoremap jk <Esc>
vnoremap <S-Left> ^
vnoremap <S-Right> $

" Command line mode
cnoremap jk <C-C>

map <Left> :tabprevious<CR>
map <Right> :tabnext<CR>
